In [2]:
import pandas as pd
from functools import reduce

**CRIME DATA**

Below I have created dataframes for the crime data

In [10]:
cr_df = pd.read_csv('crime-rate-by-state-2024.csv')
dv_df = pd.read_csv('domestic-violence-by-state-2024.csv')
gv_df = pd.read_csv('gun-violence-by-state-2024.csv')
op_df = pd.read_csv('opioid-epidemic-by-state-2024.csv')

Below I am checking all of the crime dataframes for null values

In [12]:
cr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state                51 non-null     object
 1   Population2020       51 non-null     int64
 2   CrimeReported        51 non-null     int64
 3   CrimeRate            51 non-null     float64
 4   CrimeViolent         51 non-null     int64
 5   CrimeViolentRate     51 non-null     float64
 6   CrimeNonViolent      51 non-null     int64
 7   CrimeNonViolentRate  51 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 3.3+ KB

In [14]:
dv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   state                         52 non-null     object
 1   DomesticViolenceAgainstWomen  51 non-null     float64
 2   DomesticViolenceAgainstMen    52 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [35]:
dv_df['DomesticViolenceAgainstWomen'] = dv_df['DomesticViolenceAgainstWomen'].fillna(dv_df['DomesticViolenceAgainstWomen'].median())

In [16]:
gv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   state                                 51 non-null     object
 1   deathRatePer100k2021                  51 non-null     float64
 2   GunViolenceTotalDeaths2021            50 non-null     float64
 3   GunViolencePermitForFirearmOwnership  14 non-null     object
 4   GunViolenceTotalDeaths2020            50 non-null     float64
 5   deathRatePer100k                      51 non-null     float64
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

Below I dropped the column 'GunViolencePermitForFirearmOwnership' because more than half of the data was null and then I am filling the two nulls with median data

In [25]:
gv_df2 = gv_df.drop(['GunViolencePermitForFirearmOwnership'], axis=1)
gv_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   state                       51 non-null     object
 1   deathRatePer100k2021        51 non-null     float64
 2   GunViolenceTotalDeaths2021  50 non-null     float64
 3   GunViolenceTotalDeaths2020  50 non-null     float64
 4   deathRatePer100k            51 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [31]:
gv_df2['GunViolenceTotalDeaths2021'] = gv_df2['GunViolenceTotalDeaths2021'].fillna(gv_df2['GunViolenceTotalDeaths2021'].median())

In [33]:
gv_df2['GunViolenceTotalDeaths2020'] = gv_df2['GunViolenceTotalDeaths2020'].fillna(gv_df2['GunViolenceTotalDeaths2020'].median())

In [18]:
op_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   state                                        50 non-null     object
 1   OpioidEpidemic2021DeathRatePer100kResidents  50 non-null     float64
 2   OpioidEpidemic2021Deaths                     50 non-null     int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB

Below I am saving the ammended dataframe

In [73]:
gv_df2.to_csv('gun-violence-by-state-2024-new.csv')

**Education and Living DATA**

Below I have created dataframes for theducation and livingme da - the living data includes poverty, employment, income, cost of livingta

In [38]:
ais_df = pd.read_csv('average-income-by-state-2024.csv')
cps_df = pd.read_csv('child-poverty-rate-by-state-2024.csv')
cgs_df = pd.read_csv('college-graduation-rates-by-state-2024.csv')
cls_df = pd.read_csv('cost-of-living-index-by-state-2024.csv')
ers_df = pd.read_csv('employment-rate-by-state-2024.csv')
hsg_df = pd.read_csv('high-school-graduation-rates-by-state-2024.csv')
prs_df = pd.read_csv('poverty-rate-by-state-2024.csv')
urs_df = pd.read_csv('unemployment-rate-by-state-2024.csv')
lrs_df = pd.read_csv('literacy-rates-by-state-2024.csv')

Below I am checking all of the crime dataframes for null values

In [40]:
ais_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   state                       52 non-null     object
 1   AverageIncomePerCapita2022  52 non-null     float64
 2   AverageIncomePerCapita2021  52 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [42]:
cps_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              52 non-null     object
 1   ChildPovertyRate   52 non-null     float64
 2   ChildPovertyCount  52 non-null     int64
 3   Under18            52 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.8+ KB

In [44]:
cgs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   state    52 non-null     object
 1   College  52 non-null     float64
dtypes: float64(1), object(1)
memory usage: 960.0+ bytes

In [46]:
cls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   state                                      51 non-null     object
 1   CostOfLivingIndex2023                      51 non-null     float64
 2   CostOfLivingIndexGroceryCostsIndex         51 non-null     float64
 3   CostOfLivingIndexHealthCostsIndex          51 non-null     float64
 4   CostOfLivingIndexHousingCostsIndex         51 non-null     float64
 5   CostOfLivingIndexMiscCostsIndex            51 non-null     float64
 6   CostOfLivingIndexTransportationCostsIndex  51 non-null     float64
 7   CostOfLivingIndexUtilityCostsIndex         51 non-null     float64
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

In [48]:
ers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    51 non-null     object
 1   EmploymentRateMarch2023  51 non-null     float64
dtypes: float64(1), object(1)
memory usage: 944.0+ bytes

In [50]:
hsg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       52 non-null     object
 1   HighSchool  52 non-null     float64
dtypes: float64(1), object(1)
memory usage: 960.0+ bytes

In [52]:
prs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   state                                             51 non-null     object
 1   PovertyRatesPopulationBelowPovertyLevel           51 non-null     int64
 2   PovertyRatesPercentOfPopulationBelowPovertyLevel  51 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB

In [54]:
urs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   state                     51 non-null     object
 1   UnemploymentRateJuly2023  51 non-null     float64
 2   UnemploymentRateJuly2022  51 non-null     float64
 3   UnemploymentRateJuly2021  51 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.7+ KB

In [56]:
lrs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   state                                                50 non-null     object
 1   LiteracyRatesPercofPopulationWithLowLiteracy         50 non-null     float64
 2   LiteracyRatesPercof4thGradersBelowBasicReadingLevel  50 non-null     int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB

Below I have merged the dataframes cgs_df and hsg_df into one dataframe --> these are for college graduates and high school graduates

In [67]:
comb_eds_df = pd.merge(cgs_df, hsg_df, on='state', how='inner')

In [69]:
comb_eds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       52 non-null     object
 1   College     52 non-null     float64
 2   HighSchool  52 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

Below I am saving the ammended dataframe

In [76]:
comb_eds_df.to_csv('education-graduates-2024-new.csv')

Below I am combining dataframes from the crime set and from the education and living set

In [79]:
comb_all_dfs = reduce(lambda x,y: pd.merge(x,y, on='state', how='outer'), [cr_df, gv_df2, dv_df, prs_df, lrs_df, comb_eds_df])

In [87]:
comb_all_dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 20 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   state                                                52 non-null     object
 1   Population2020                                       51 non-null     float64
 2   CrimeReported                                        51 non-null     float64
 3   CrimeRate                                            51 non-null     float64
 4   CrimeViolent                                         51 non-null     float64
 5   CrimeViolentRate                                     51 non-null     float64
 6   CrimeNonViolent                                      51 non-null     float64
 7   CrimeNonViolentRate                                  51 non-null     float64
 8   deathRatePer100k2021                                 51 non-null     float64
 9   GunViolenceTotalDeaths2021                           51 non-null     float64
 10  GunViolenceTotalDeaths2020                           51 non-null     float64
 11  deathRatePer100k                                     51 non-null     float64
 12  DomesticViolenceAgainstWomen                         52 non-null     float64
 13  DomesticViolenceAgainstMen                           52 non-null     float64
 14  PovertyRatesPopulationBelowPovertyLevel              51 non-null     float64
 15  PovertyRatesPercentOfPopulationBelowPovertyLevel     51 non-null     float64
 16  LiteracyRatesPercofPopulationWithLowLiteracy         50 non-null     float64
 17  LiteracyRatesPercof4thGradersBelowBasicReadingLevel  50 non-null     float64
 18  College                                              52 non-null     float64
 19  HighSchool                                           52 non-null     float64
dtypes: float64(19), object(1)
memory usage: 8.2+ KB

In [85]:
comb_all_dfs.to_csv('combined_data.csv')